<section class="main">
  <div class="container">
    <!--Login Form-->
    <div *ngIf="isLogIn" class="login-container">
      <h1>LOGIN</h1>
      <mat-divider class="divisor"></mat-divider>
      <form [formGroup]="loginForm" class="form">
        <mat-form-field class="field" appearance="outline" [color]="'primary'">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            placeholder="Username"
            formControlName="username"
          />
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="loginForm.controls.username.hasError('required')"
            >Username is required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="field" appearance="outline" [color]="'primary'">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            type="password"
          />
          <mat-icon matSuffix>key</mat-icon>
          <mat-error *ngIf="loginForm.controls.password.hasError('required')"
            >Password is required</mat-error
          >
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          (click)="login(loginForm.value)"
        >
          LOGIN
        </button>
        <div class="register-container">
          <span class="register-span">Don't have an account?</span>
          <span class="register-link" (click)="mostrarSignUp()">Sign Up</span>
        </div>
      </form>
    </div>

    <!--SignUp Form-->
    <div *ngIf="isSignUp" class="signup-container">
      <h1>SIGN UP</h1>
      <mat-divider class="divisor"></mat-divider>
      <form [formGroup]="signupForm" class="form">
        <div class="field-group">
          <mat-form-field appearance="outline" [color]="'primary'">
            <mat-label>Name</mat-label>
            <input
              matInput
              type="text"
              placeholder="Name"
              formControlName="name"
            />
            <mat-error *ngIf="signupForm.controls.name.hasError('required')"
              >Name is required</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline" [color]="'primary'">
            <mat-label>Lastname</mat-label>
            <input
              matInput
              type="text"
              placeholder="Name"
              formControlName="lastname"
            />
            <mat-error *ngIf="signupForm.controls.lastname.hasError('required')"
              >Lastname is required</mat-error
            >
          </mat-form-field>
        </div>

        <div class="field-group">
          <mat-form-field
            appearance="outline"
            class="field"
            [color]="'primary'"
          >
            <mat-label>Username</mat-label>
            <input
              matInput
              type="text"
              placeholder="Username"
              formControlName="username"
            />
            <mat-error *ngIf="signupForm.controls.username.hasError('required')"
              >Username is required</mat-error
            >
          </mat-form-field>
          <div class="toggle" *ngIf="nuevoAdmin">
            <span> Staff</span>
            <mat-slide-toggle formControlName="is_staff" color="primary">
            </mat-slide-toggle>
          </div>
        </div>

        <div class="field-group">
          <mat-form-field appearance="outline" [color]="'primary'">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Password"
              formControlName="password"
              type="password"
            />
            <mat-error *ngIf="signupForm.controls.password.hasError('required')"
              >Username is required</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline" [color]="'primary'">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Repeat Password"
              formControlName="re_password"
              type="password"
            />
            <mat-error
              *ngIf="signupForm.controls.re_password.hasError('required')"
              >Username is required</mat-error
            >
          </mat-form-field>
        </div>

        <button
          mat-raised-button
          color="primary"
          (click)="signup(signupForm.value)"
        >
          SIGN UP
        </button>
        <div class="register-container">
          <span class="register-span">Already have an account?</span>
          <span class="register-link" (click)="mostrarLogIn()">Log In</span>
        </div>
      </form>
    </div>
  </div>
</section>
