@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #eae0f3; */
  background-image: url("../../../../assets/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  /* width: 50%; */
  /* min-height: 60%; */
}
.divisor {
  border-color: #673ab7;
  border-width: 3px;
  border-radius: 25px;
  width: 100%;
}
h1,
.register-span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.login-container,
.signup-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.field {
  flex: 1;
}
.register-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
}
.register-link {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #551a8b;
}
.field-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}
.toggle {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  height: 100%;
  width: fit-content;
}
