.divisor {
  border-color: #673ab7;
  border-width: 3px;
  border-radius: 25px;
  width: 100%;
  margin: 1rem 0;
}
.form {
  margin-top: 1rem;
}
.field {
  width: 100%;
}
.mat-mdc-dialog-actions {
  justify-content: flex-end !important;
}
