<mat-dialog-content>
  <div class="container">
    <h2 align="center">Orders</h2>
    <mat-divider class="divisor"></mat-divider>
    <div class="card" *ngFor="let order of orders">
      <h2 align="center">Order # {{ order.id }}</h2>
      <div class="card-body">
        <div class="info">
          <div class="info-item">
            <span>Order Date:&nbsp;</span>
            <span>{{ formatDate(order.date) }}</span>
          </div>
          <div class="info-item">
            <span>Direction:&nbsp;</span>
            <span>{{ order.direction }}</span>
          </div>
          <div class="info-item">
            <span>Total:&nbsp;</span>
            <span>{{ order.total | currency }}</span>
          </div>
        </div>
        <div class="actions">
          <button
            mat-raised-button
            color="primary"
            (click)="getOrderPDF(order.id)"
          >
            <mat-icon>list_alt</mat-icon>
            Order Details
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="cancelOrder(order.id)"
          >
            <mat-icon>cancel</mat-icon>
            Cancel Order
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
