<mat-toolbar color="primary">
  <mat-toolbar-row class="nav-bar">
    <div class="logo" routerLink="/">
      <img src="assets/logo.png" alt="logo" />
    </div>
    <div class="user">
      <span>Bienvenido {{ user?.first_name }} </span>
    </div>
    <div class="nav-bar-primary">
      <a routerLink="/" mat-button class="nav-bar-option">
        <mat-icon>home</mat-icon> Home
      </a>
      <a
        routerLink="/products"
        mat-button
        class="nav-bar-option"
        *ngIf="isStaff"
        ><mat-icon>storefront</mat-icon> Products
      </a>
    </div>

    <!-- <span class="spacer"></span> -->
    <div class="nav-bar-secondary">
      <a
        routerLink="/auth"
        mat-button
        class="nav-bar-option"
        *ngIf="!isLoggedIn"
        ><mat-icon>login</mat-icon> Login
      </a>
      <a
        routerLink="/auth/signup"
        mat-button
        class="nav-bar-option"
        *ngIf="!isLoggedIn"
        ><mat-icon>person_add</mat-icon> Sign Up
      </a>
      <a (click)="logout()" mat-button class="nav-bar-option" *ngIf="isLoggedIn"
        ><mat-icon>logout</mat-icon> Logout
      </a>
      <button mat-icon-button class="nav-bar-option" [matMenuTriggerFor]="cart">
        <mat-icon
          matBadge="{{ itemsInCart.length }}"
          matBadgeColor="accent"
          matBadgePosition="above after"
          matBadgeSize="small"
          [matBadgeHidden]="itemsInCart.length === 0"
          >shopping_cart</mat-icon
        >
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>

<mat-menu #cart="matMenu">
  <div class="cart">
    <span *ngIf="itemsInCart.length === 0">No items in cart</span>
    <div *ngFor="let item of itemsInCart" class="cart-item">
      <img [src]="item.product.img_url" alt="" />
      <div class="cart-item-info">
        <span>{{ item.product.name }}</span>
        <span>{{ item.product.price | currency }}</span>
      </div>
      <div class="cat-item-actions">
        <button mat-icon-button (click)="(true)">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <span>{{ item.quantity }}</span>
        <button mat-icon-button (click)="(true)">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-menu>
