<mat-toolbar color="primary">
  <mat-toolbar-row class="nav-bar">
    <div class="logo" routerLink="/">
      <img src="assets/logo.png" alt="logo" />
    </div>
    <div class="user">
      <span>Bienvenido</span>
    </div>
    <div class="nav-bar-primary">
      <a routerLink="/" mat-button class="nav-bar-option">
        <mat-icon>home</mat-icon> Home
      </a>
      <a
        routerLink="/products"
        mat-button
        class="nav-bar-option"
        *ngIf="isStaff"
      >
        <mat-icon>storefront</mat-icon> Products
      </a>
    </div>

    <!-- <span class="spacer"></span> -->
    <div class="nav-bar-secondary">
      <a
        routerLink="/auth"
        mat-button
        class="nav-bar-option"
        *ngIf="!isLoggedIn"
      >
        <mat-icon>login</mat-icon> Login
      </a>
      <a
        routerLink="/auth/signup"
        mat-button
        class="nav-bar-option"
        *ngIf="!isLoggedIn"
      >
        <mat-icon>person_add</mat-icon> Sign Up
      </a>
      <button
        *ngIf="isLoggedIn"
        mat-flat-button
        color="primary"
        [matMenuTriggerFor]="profile"
      >
        <mat-icon>person</mat-icon>
        {{ user?.first_name }}
      </button>
      <a
        (click)="logout()"
        mat-button
        class="nav-bar-option"
        *ngIf="isLoggedIn"
      >
        <mat-icon>logout</mat-icon> Logout
      </a>
      <button mat-icon-button class="nav-bar-option" [matMenuTriggerFor]="cart">
        <mat-icon
          matBadge="{{ itemsInCart.length }}"
          matBadgeColor="accent"
          matBadgePosition="above after"
          matBadgeSize="small"
          [matBadgeHidden]="itemsInCart.length === 0"
          >shopping_cart</mat-icon
        >
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>

<mat-menu #cart="matMenu">
  <div class="cart" (click)="$event.stopPropagation()">
    <span
      *ngIf="itemsInCart.length === 0"
      [ngStyle]="{ minWidth: '8rem', display: 'block' }"
      >No items in cart</span
    >
    <div *ngFor="let item of itemsInCart" class="cart-item">
      <img [src]="item.product.img_url" alt="" />
      <div class="cart-item-info">
        <span>{{ item.product.name }}</span>
        <span>{{ item.cost | currency }}</span>
      </div>
      <div class="cat-item-actions">
        <button
          mat-icon-button
          (click)="decrementItemInCart(item)"
          color="primary"
        >
          <mat-icon>remove_circle</mat-icon>
        </button>
        <span>{{ item.quantity }}</span>
        <button
          mat-icon-button
          (click)="incrementItemInCart(item)"
          color="primary"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteItemInCart(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="itemsInCart.length > 0" class="cart-footer">
      <button mat-flat-button (click)="clearCart()" class="btn-clear">
        Clear
      </button>
      <div>
        <span>Total: </span>
        <span>{{ total | currency }}</span>
      </div>

      <button
        mat-raised-button
        color="primary"
        [disabled]="itemsInCart.length === 0"
        (click)="checkout()"
      >
        Checkout
      </button>
    </div>
  </div>
</mat-menu>
<mat-menu #profile="matMenu">
  <div class="settings">
    <button mat-menu-item (click)="abrirModalUsuario()">
      <mat-icon>manage_accounts</mat-icon>
      <span>Change Information</span>
    </button>
    <button mat-menu-item>
      <mat-icon>list_alt</mat-icon>
      <span>My Orders</span>
    </button>
    <button mat-menu-item (click)="abrirModalPassword()">
      <mat-icon>lock_reset</mat-icon>
      <span>Reset Password</span>
    </button>
  </div>
</mat-menu>
