<div class="div-card">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Nombre Producto</mat-card-title>
          <mat-card-subtitle>vendedor</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://imagenes.elpais.com/resizer/JoBU4i2PvOPAkvuRRuGsfIpYcrQ=/1200x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/3YO5Y3XCFCKSGU3ORB3MGKANFA.jpg" alt="Imagen de prueba">
        <mat-card-content>
          <p>
            Descripcion producto
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Agregar carrito</button>
          <button mat-button>$$$</button>
        </mat-card-actions>
    </mat-card>
</div>


